<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.7.0.87" targetFramework="net481" />
  <package id="AWSSDK.Core" version="3.7.3.27" targetFramework="net481" />
  <package id="AWSSDK.Kinesis" version="3.7.0.87" targetFramework="net481" />
  <package id="AWSSDK.SecurityToken" version="3.7.1.77" targetFramework="net481" />
  <package id="itext" version="8.0.1" targetFramework="net481" />
  <package id="itext.bouncy-castle-adapter" version="8.0.1" targetFramework="net481" />
  <package id="itext.bouncy-castle-fips-adapter" version="8.0.1" targetFramework="net481" />
  <package id="itext.commons" version="8.0.1" targetFramework="net481" />
  <package id="itext.licensing.base" version="4.1.1" targetFramework="net481" />
  <package id="itext.licensing.remote" version="4.1.1" targetFramework="net481" />
  <package id="itext7" version="8.0.1" targetFramework="net481" />
  <package id="itext7.bouncy-castle-fips-adapter" version="8.0.1" targetFramework="net481" />
  <package id="itext7.commons" version="8.0.1" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net481" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.4" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>